mlflow
seaborn
gymnasium[mujoco]
torch
control
yacs
tqdm
optuna
plotly
mxnet
tensorboard
git+https://github.com/DLR-RM/stable-baselines3@feat/gymnasium-support
git+https://github.com/Stable-Baselines-Team/stable-baselines3-contrib@feat/gymnasium-support
scikit-image
