mlflow
numpy
pandas
seaborn
matplotlib
gym[mujuco]
mujoco
torch
control
yacs
scipy
tensorflow
tqdm
scikit-learn
torchvision
optuna
plotly
mxnet
stable-baselines3[extra]
git+https://github.com/rbodo/emgr.git
